@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  /* Font Sizes & Line Heights */
  --text-heading-1: 34px;
  --text-heading-1--line-height: 42px;

  --text-heading-2: 24px;
  --text-heading-2--line-height: 36px;

  --text-heading-3: 20px;
  --text-heading-3--line-height: 28px;

  --text-heading-4: 18px;
  --text-heading-4--line-height: 20px;

  --text-heading-5: 16px;
  --text-heading-5--line-height: 24px;

  --text-subtitle-1: 16px;
  --text-subtitle-1--line-height: 24px;

  --text-subtitle-2: 14px;
  --text-subtitle-2--line-height: 20px;

  --text-body-1: 16px;
  --text-body-1--line-height: 24px;

  --text-body-2: 14px;
  --text-body-2--line-height: 20px;

  --text-button: 14px;
  --text-button--line-height: 20px;

  --text-caption: 12px;
  --text-caption--line-height: 16px;

  --text-overline: 10px;
  --text-overline--line-height: 14px;

  /* Brand & Text */
  --color-brand: #fa7275;
  --color-brand-100: #ea6365;
  --color-white: #ffffff;
  --color-black-1: #131524;
  --color-black-2: #04050c;
  --color-gray-900: #333f4e;
  --color-gray-700: #a3b2c7;
  --color-gray-100: #f2f5f9;
  --color-gray-50: #f2f4f8;

  /* Accent */
  --color-accent-red: #ff7474;
  --color-accent-green: #3dd9b3;
  --color-accent-orange: #f9ab72;
  --color-accent-purple: #eea8fd;
  --color-accent-blue: #56bbff;

  /* Error */
  --color-error: #b80000;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: var(--font-poppins), sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center h-screen bg-amber-100;
  }

  @import "tailwindcss";

  @theme {
    --font-poppins: "Poppins", sans-serif;

    /* Font Sizes & Line Heights */
    --text-heading-1: 34px;
    --text-heading-1--line-height: 42px;

    --text-heading-2: 24px;
    --text-heading-2--line-height: 36px;

    --text-heading-3: 20px;
    --text-heading-3--line-height: 28px;

    --text-heading-4: 18px;
    --text-heading-4--line-height: 20px;

    --text-heading-5: 16px;
    --text-heading-5--line-height: 24px;

    --text-subtitle-1: 16px;
    --text-subtitle-1--line-height: 24px;

    --text-subtitle-2: 14px;
    --text-subtitle-2--line-height: 20px;

    --text-body-1: 16px;
    --text-body-1--line-height: 24px;

    --text-body-2: 14px;
    --text-body-2--line-height: 20px;

    --text-button: 14px;
    --text-button--line-height: 20px;

    --text-caption: 12px;
    --text-caption--line-height: 16px;

    --text-overline: 10px;
    --text-overline--line-height: 14px;

    /* Brand & Text */
    --color-brand: #fa7275;
    --color-brand-100: #ea6365;
    --color-white: #ffffff;
    --color-black-1: #131524;
    --color-black-2: #04050c;
    --color-gray-900: #333f4e;
    --color-gray-700: #a3b2c7;
    --color-gray-100: #f2f5f9;
    --color-gray-50: #f2f4f8;

    /* Accent */
    --color-accent-red: #ff7474;
    --color-accent-green: #3dd9b3;
    --color-accent-orange: #f9ab72;
    --color-accent-purple: #eea8fd;
    --color-accent-blue: #56bbff;

    /* Error */
    --color-error: #b80000;
  }

  @media (prefers-color-scheme: dark) {
    @theme {
      --color-background: #0a0a0a;
      --color-foreground: #ededed;
    }
  }

  @layer base {
    body {
      font-family: var(--font-poppins), sans-serif;
      background-color: var(--color-background);
      color: var(--color-foreground);
    }
  }

  @layer utilities {
    .flex-center {
      @apply flex items-center justify-center h-screen;
    }

    .h1 {
      @apply text-[34px] leading-[42px] font-bold;
    }
    .h2 {
      @apply text-[24px] leading-[36px] font-bold;
    }
    .h3 {
      @apply text-[20px] leading-[28px] font-semibold;
    }
    .h4 {
      @apply text-[18px] leading-[20px] font-medium;
    }
    .h5 {
      @apply text-[16px] leading-[24px] font-semibold;
    }
    .subtitle-1 {
      @apply text-[16px] leading-[24px] font-medium;
    }
    .subtitle-2 {
      @apply text-[14px] leading-[20px] font-semibold;
    }
    .body-1 {
      @apply text-[16px] leading-[24px] font-normal;
    }
    .body-2 {
      @apply text-[14px] leading-[20px] font-normal;
    }
    .button {
      @apply text-[14px] leading-[20px] font-medium;
    }
    .caption {
      @apply text-[12px] leading-[16px] font-normal;
    }
    .overline {
      @apply text-[10px] leading-[14px] font-normal;
    }
  }
}
